@media screen and (max-width : 600px) {
    header {
        display: block;
        text-align: center;
    }
    header img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    nav ul {
        display: block;
    }

    nav li {
        margin-bottom: 10px;
    }

    .seccion-principal .cuerpo-seccion  {
        width: 100%;
    }

    .seccion-principal .cuerpo-seccion h1 {
        font-size: 50px;
    }

    .justificado {
        display: block;
    }

    .foto {
        width: 100%;
    }
}
